.heroSection{
    width: 80%;
    margin: 3rem auto;
}

.heroSection_box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.heroSection_box_left{
    padding-right: 6rem;
}

.heroSection_box_left h1{
    font-size: 5rem;
    line-height: 1;
}

.heroSection_box_left p{
    margin-bottom: 2rem;
}

.heroSection_box_right {
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 55em) {
    .heroSection_box{
        grid-template-columns: 1fr;
    }

    .heroSection_box_left{
        padding-right: 1.5rem;
    }

    .heroSection_box_right {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 35em) {
    .heroSection{
        width: 90%;
        padding-top: 1rem;
    }
}